		<form>
			<fieldset class="form-group">
				<h2>Search By</h2>
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" id="searchByUsername" value="option1" checked>
						Search By Username
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="optionsRadios" id="searchByName" value="option2">
						Search By Name
					</label>
				</div>
			</fieldset>
			<div class="form-group usernameSelection">
				<label for="username">Username:</label>
				<input type="text" class="form-control" id="username" placeholder="Username">
			</div>
			
			<div class="form-group hidden nameSelection">
				<label for="firstName">First Name:</label>
				<input type="text" class="form-control" id="firstName" placeholder="First Name">
				<br>
				<label for="lastName">Last Name:</label>
				<input type="text" class="form-control" id="lastName" placeholder="Last Name">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<div class="col-xs-12">
			<p>Username: </p>
			<p>First Name: </p>
			<p>Last Name: </p>
			<p>Location: </p>
			<p>Current Temperature: </p>
			<p>High: </p>
			<p>Low: </p>
			<p>Precipitation: </p>
			<p>Wind: </p>
		</div>