body{
    color:#000;
    font-family:Arial, sans-serif;
    font-size:14px;
    -moz-transition-property:text-shadow;
    -moz-transition-duration:4s;
    -webkit-transition-property:text-shadow;
    -webkit-transition-duration:4s;
    text-shadow:none;
    height:100%;
}
button{
    width:100%;
    height:50px;
}
body#content ul.nav-tabs{
    border:none;
}
body#content ul.nav-tabs > li{
    width:50%;
    margin:0;
    border-radius:0;
    border:none;
    text-align:center;
}
body#content ul.nav-tabs > li > a{
    background-color:#337ab7;
    color:#fff;
    border-radius:0;
    border:none;
    margin:0;
    font-size:1.2em;
}
body#content ul.nav-tabs > li.active > a{
    background-color:#fff;
    color:#000;
    border:none;
}
body#content input.form-control,
body#content select.form-control{
    height:50px;
}
footer#mainlineFooter{
    height:50px;
    background-color:#fff;
    color:#000;
    position:absolute;
    bottom:0;
    text-align:center; 
}
footer#mainlineFooter a{ 
    color:#000;
    line-height:50px;
}
footer#mainlineFooter a:active,
footer#mainlineFooter a:hover,
footer#mainlineFooter a:focus,
footer#mainlineFooter a:visited{ 
    color:#000;
    text-decoration:none; 
}